body, html {
  margin: 0;
  padding: 0;
  background-color: darkblue;
}

#introScreen {
  position: absolute; /* Positioned above the content */
  top: 50%;  /* Center it vertically */
  left: 50%;  /* Center it horizontally */
  transform: translate(-50%, -50%);  /* Required for exact centering */
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9); /* Semi-transparent black */
  z-index: 100; /* Higher than everything else */
  display: flex;
  align-items: center;
  justify-content: center;
  filter: grayscale(50%) blur(5px);
}

#startButton {
  background: #fff;
  padding: 20px;
  font-size: 24px;
  cursor: pointer;
  border: none;
}

.fullscreen-div {
  background-color: darkblue;
  width: 100%;
  height: 100vh;  /* Use viewport height to cover full screen */
}

.banner-container {
  display: flex;
  justify-content: center; /* Horizontally centers the child elements */
  align-items: center;     /* Vertically centers the child elements */
  height: 80vh;           /* Sets the height to 80% of the viewport height */
}

.banner-image {
  max-width: 100%; /* Makes sure the image doesn't overflow */
}


h1 {
  text-align: center;
}


.welcome, .to, .celestial {
  text-align: center;
}

.to .pipes, .to .text {
  display: inline-block; /* Allow for margins */
}

.to .text {
  margin-left: 80px; /* Adjust the margin to your liking */
  margin-right: 80px; /* Adjust the margin to your liking */
}


.banner-container {
  position: relative; /* This sets up a 'reference' for absolutely positioned elements */
}

#startJourney {  /* or you can keep using your existing ID #startButton, just make sure it's consistent with your HTML */
  position: absolute; /* This will position the button relative to the nearest 'relative' parent */
  top: 50%;  /* Vertically centered */
  left: 50%; /* Horizontally centered */
  transform: translate(-50%, -50%); /* Needed to truly center the button */
  z-index: 1; /* Places it above other elements */
}



