body, html {
  margin: 0;
  padding: 0;
  background-color: darkblue;
}

#introScreen {
  position: absolute; /* Positioned above the content */
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9); /* Semi-transparent black */
  z-index: 100; /* Higher than everything else */
  display: flex;
  align-items: center;
  justify-content: center;
}

#startButton {
  background: #fff;
  padding: 20px;
  font-size: 24px;
  cursor: pointer;
  border: none;
}

.fullscreen-div {
  background-color: darkblue;
  width: 100%;
  height: 100vh;  /* Use viewport height to cover full screen */
}

.banner-container {
  display: flex;
  justify-content: center; /* Horizontally centers the child elements */
  align-items: center;     /* Vertically centers the child elements */
  height: 80vh;           /* Sets the height to 80% of the viewport height */
}

.banner-image {
  max-width: 100%; /* Makes sure the image doesn't overflow */
}


h1 {
  text-align: center;
}


.welcome, .to, .celestial {
  text-align: center;
}

.to .pipes, .to .text {
  display: inline-block; /* Allow for margins */
}

.to .text {
  margin-left: 80px; /* Adjust the margin to your liking */
  margin-right: 80px; /* Adjust the margin to your liking */
}


